<div ng-include src="'views/header.html'"></div>

<div class="row form-group">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="row form-group"  ng-repeat="docs in Docs">
			<div class="col-lg-1 col-xs-2 text-center">
				<img src="../cio-files/img/right-point.png">
			</div>
			<div class="col-lg-11 col-xs-10">
				{{ (DEFAULT_LANGUAGE == 'TH'?docs.topic_th:docs.topic_en) }}
			</div>
			<div class="col-lg-1">
			</div>
			<div class="col-lg-11">
				<a target="_self" href="{{ '../' + docs.file_path}}" download="{{docs.file_name}}">
					<img src="../cio-files/img/download-icon.png">
				</a>
			</div>
		</div>
	</div>
</div>

<div ng-include src="'views/footer.html'"></div>

